form {
  padding: 20px;
}

.form__header {
  color: white;
  text-align: center;
  font-weight: normal;
}

.form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 667px) {
  .form__label {
    flex-direction: column;
  }
}

.form__labelText {
  color: white;
  display: inline-block;
  width: 250px;
}

@media (max-width: 667px) {
  .form__labelText {
    width: 100%;
    margin-bottom: 1em;
  }
}

.form__field {
  width: 250px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  color: white;
}

@media (max-width: 667px) {
  .form__field {
    width: 100%;
  }
}

.form__fieldOption {
  background: white;
  color: #212121;
}

.form__button {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  color: white;
  padding: 10px;
  width: 100%;
}

.form__resultInfo {
  font-size: 27px;
  color: white;
  text-align: center;
}

.form__infoContainer {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 2px solid white;
}

.form__infoPharagraph {
  color: white;
  font-size: 15px;
}
